
@font-face {
    font-family: "AlphaRev";
    font-weight: 500;
    font-style: normal;
    src:
    url('AlphaRev/AlphaRev.woff') format('woff'),
    url('AlphaRev/AlphaRev.woff2') format('woff2'),
    url('AlphaRev/AlphaRev.ttf') format('truetype');
}