@font-face {
    font-family: 'RF Dewi Condensed';
    src: local('RF Dewi Condensed Regular'), local('RFDewiCondensed-Regular'),
        url('RFDewi/RFDewiCondensed-Regular.woff2') format('woff2'),
        url('RFDewi/RFDewiCondensed-Regular.woff') format('woff'),
        url('RFDewi/RFDewiCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: local('RF Dewi Expanded Black'), local('RFDewiExpanded-Black'),
        url('RFDewi/RFDewiExpanded-Black.woff2') format('woff2'),
        url('RFDewi/RFDewiExpanded-Black.woff') format('woff'),
        url('RFDewi/RFDewiExpanded-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi';
    src: local('RF Dewi Ultralight'), local('RFDewi-Ultralight'),
        url('RFDewi/RFDewi-Ultralight.woff2') format('woff2'),
        url('RFDewi/RFDewi-Ultralight.woff') format('woff'),
        url('RFDewi/RFDewi-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi';
    src: local('RF Dewi Ultrabold'), local('RFDewi-Ultrabold'),
        url('RFDewi/RFDewi-Ultrabold.woff2') format('woff2'),
        url('RFDewi/RFDewi-Ultrabold.woff') format('woff'),
        url('RFDewi/RFDewi-Ultrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi';
    src: local('RF Dewi Black'), local('RFDewi-Black'),
        url('RFDewi/RFDewi-Black.woff2') format('woff2'),
        url('RFDewi/RFDewi-Black.woff') format('woff'),
        url('RFDewi/RFDewi-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Condensed';
    src: local('RF Dewi Condensed Ultrabold'), local('RFDewiCondensed-Ultrabold'),
        url('RFDewi/RFDewiCondensed-Ultrabold.woff2') format('woff2'),
        url('RFDewi/RFDewiCondensed-Ultrabold.woff') format('woff'),
        url('RFDewi/RFDewiCondensed-Ultrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: local('RF Dewi Expanded Ultrabold'), local('RFDewiExpanded-Ultrabold'),
        url('RFDewi/RFDewiExpanded-Ultrabold.woff2') format('woff2'),
        url('RFDewi/RFDewiExpanded-Ultrabold.woff') format('woff'),
        url('RFDewi/RFDewiExpanded-Ultrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi';
    src: local('RF Dewi Light Italic'), local('RFDewi-LightItalic'),
        url('RFDewi/RFDewi-LightItalic.woff2') format('woff2'),
        url('RFDewi/RFDewi-LightItalic.woff') format('woff'),
        url('RFDewi/RFDewi-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi';
    src: local('RF Dewi Regular'), local('RFDewi-Regular'),
        url('RFDewi/RFDewi-Regular.woff2') format('woff2'),
        url('RFDewi/RFDewi-Regular.woff') format('woff'),
        url('RFDewi/RFDewi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: local('RF Dewi Extended Bold'), local('RFDewiExtended-Bold'),
        url('RFDewi/RFDewiExtended-Bold.woff2') format('woff2'),
        url('RFDewi/RFDewiExtended-Bold.woff') format('woff'),
        url('RFDewi/RFDewiExtended-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi';
    src: local('RF Dewi Semibold'), local('RFDewi-Semibold'),
        url('RFDewi/RFDewi-Semibold.woff2') format('woff2'),
        url('RFDewi/RFDewi-Semibold.woff') format('woff'),
        url('RFDewi/RFDewi-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: local('RF Dewi Expanded Black Italic'), local('RFDewiExpanded-BlackItalic'),
        url('RFDewi/RFDewiExpanded-BlackItalic.woff2') format('woff2'),
        url('RFDewi/RFDewiExpanded-BlackItalic.woff') format('woff'),
        url('RFDewi/RFDewiExpanded-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Condensed';
    src: local('RF Dewi Condensed Thin Italic'), local('RFDewiCondensed-ThinItalic'),
        url('RFDewi/RFDewiCondensed-ThinItalic.woff2') format('woff2'),
        url('RFDewi/RFDewiCondensed-ThinItalic.woff') format('woff'),
        url('RFDewi/RFDewiCondensed-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: local('RF Dewi Extended Light'), local('RFDewiExtended-Light'),
        url('RFDewi/RFDewiExtended-Light.woff2') format('woff2'),
        url('RFDewi/RFDewiExtended-Light.woff') format('woff'),
        url('RFDewi/RFDewiExtended-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: local('RF Dewi Extended Black'), local('RFDewiExtended-Black'),
        url('RFDewi/RFDewiExtended-Black.woff2') format('woff2'),
        url('RFDewi/RFDewiExtended-Black.woff') format('woff'),
        url('RFDewi/RFDewiExtended-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: local('RF Dewi Extended Regular'), local('RFDewiExtended-Regular'),
        url('RFDewi/RFDewiExtended-Regular.woff2') format('woff2'),
        url('RFDewi/RFDewiExtended-Regular.woff') format('woff'),
        url('RFDewi/RFDewiExtended-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi';
    src: local('RF Dewi Bold'), local('RFDewi-Bold'),
        url('RFDewi/RFDewi-Bold.woff2') format('woff2'),
        url('RFDewi/RFDewi-Bold.woff') format('woff'),
        url('RFDewi/RFDewi-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Condensed';
    src: local('RF Dewi Condensed Semibold'), local('RFDewiCondensed-Semibold'),
        url('RFDewi/RFDewiCondensed-Semibold.woff2') format('woff2'),
        url('RFDewi/RFDewiCondensed-Semibold.woff') format('woff'),
        url('RFDewi/RFDewiCondensed-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Condensed';
    src: local('RF Dewi Condensed Black'), local('RFDewiCondensed-Black'),
        url('RFDewi/RFDewiCondensed-Black.woff2') format('woff2'),
        url('RFDewi/RFDewiCondensed-Black.woff') format('woff'),
        url('RFDewi/RFDewiCondensed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi';
    src: local('RF Dewi Ultralight Italic'), local('RFDewi-UltralightItalic'),
        url('RFDewi/RFDewi-UltralightItalic.woff2') format('woff2'),
        url('RFDewi/RFDewi-UltralightItalic.woff') format('woff'),
        url('RFDewi/RFDewi-UltralightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: local('RF Dewi Extended Ultralight Italic'), local('RFDewiExtended-UltralightItalic'),
        url('RFDewi/RFDewiExtended-UltralightItalic.woff2') format('woff2'),
        url('RFDewi/RFDewiExtended-UltralightItalic.woff') format('woff'),
        url('RFDewi/RFDewiExtended-UltralightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: local('RF Dewi Extended Ultrabold Italic'), local('RFDewiExtended-UltraboldItalic'),
        url('RFDewi/RFDewiExtended-UltraboldItalic.woff2') format('woff2'),
        url('RFDewi/RFDewiExtended-UltraboldItalic.woff') format('woff'),
        url('RFDewi/RFDewiExtended-UltraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: local('RF Dewi Expanded Ultralight Italic'), local('RFDewiExpanded-UltralightItalic'),
        url('RFDewi/RFDewiExpanded-UltralightItalic.woff2') format('woff2'),
        url('RFDewi/RFDewiExpanded-UltralightItalic.woff') format('woff'),
        url('RFDewi/RFDewiExpanded-UltralightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Condensed';
    src: local('RF Dewi Condensed Ultrabold Italic'), local('RFDewiCondensed-UltraboldItalic'),
        url('RFDewi/RFDewiCondensed-UltraboldItalic.woff2') format('woff2'),
        url('RFDewi/RFDewiCondensed-UltraboldItalic.woff') format('woff'),
        url('RFDewi/RFDewiCondensed-UltraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: local('RF Dewi Extended Italic'), local('RFDewiExtended-Italic'),
        url('RFDewi/RFDewiExtended-Italic.woff2') format('woff2'),
        url('RFDewi/RFDewiExtended-Italic.woff') format('woff'),
        url('RFDewi/RFDewiExtended-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: local('RF Dewi Extended Ultrabold'), local('RFDewiExtended-Ultrabold'),
        url('RFDewi/RFDewiExtended-Ultrabold.woff2') format('woff2'),
        url('RFDewi/RFDewiExtended-Ultrabold.woff') format('woff'),
        url('RFDewi/RFDewiExtended-Ultrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: local('RF Dewi Extended Light Italic'), local('RFDewiExtended-LightItalic'),
        url('RFDewi/RFDewiExtended-LightItalic.woff2') format('woff2'),
        url('RFDewi/RFDewiExtended-LightItalic.woff') format('woff'),
        url('RFDewi/RFDewiExtended-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: local('RF Dewi Extended Thin'), local('RFDewiExtended-Thin'),
        url('RFDewi/RFDewiExtended-Thin.woff2') format('woff2'),
        url('RFDewi/RFDewiExtended-Thin.woff') format('woff'),
        url('RFDewi/RFDewiExtended-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Condensed';
    src: local('RF Dewi Condensed Thin'), local('RFDewiCondensed-Thin'),
        url('RFDewi/RFDewiCondensed-Thin.woff2') format('woff2'),
        url('RFDewi/RFDewiCondensed-Thin.woff') format('woff'),
        url('RFDewi/RFDewiCondensed-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: local('RF Dewi Expanded Bold Italic'), local('RFDewiExpanded-BoldItalic'),
        url('RFDewi/RFDewiExpanded-BoldItalic.woff2') format('woff2'),
        url('RFDewi/RFDewiExpanded-BoldItalic.woff') format('woff'),
        url('RFDewi/RFDewiExpanded-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: local('RF Dewi Extended Semibold'), local('RFDewiExtended-Semibold'),
        url('RFDewi/RFDewiExtended-Semibold.woff2') format('woff2'),
        url('RFDewi/RFDewiExtended-Semibold.woff') format('woff'),
        url('RFDewi/RFDewiExtended-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: local('RF Dewi Expanded Regular'), local('RFDewiExpanded-Regular'),
        url('RFDewi/RFDewiExpanded-Regular.woff2') format('woff2'),
        url('RFDewi/RFDewiExpanded-Regular.woff') format('woff'),
        url('RFDewi/RFDewiExpanded-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Condensed';
    src: local('RF Dewi Condensed Ultralight'), local('RFDewiCondensed-Ultralight'),
        url('RFDewi/RFDewiCondensed-Ultralight.woff2') format('woff2'),
        url('RFDewi/RFDewiCondensed-Ultralight.woff') format('woff'),
        url('RFDewi/RFDewiCondensed-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: local('RF Dewi Extended Semibold Italic'), local('RFDewiExtended-SemiboldItalic'),
        url('RFDewi/RFDewiExtended-SemiboldItalic.woff2') format('woff2'),
        url('RFDewi/RFDewiExtended-SemiboldItalic.woff') format('woff'),
        url('RFDewi/RFDewiExtended-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Condensed';
    src: local('RF Dewi Condensed Black Italic'), local('RFDewiCondensed-BlackItalic'),
        url('RFDewi/RFDewiCondensed-BlackItalic.woff2') format('woff2'),
        url('RFDewi/RFDewiCondensed-BlackItalic.woff') format('woff'),
        url('RFDewi/RFDewiCondensed-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi';
    src: local('RF Dewi Bold Italic'), local('RFDewi-BoldItalic'),
        url('RFDewi/RFDewi-BoldItalic.woff2') format('woff2'),
        url('RFDewi/RFDewi-BoldItalic.woff') format('woff'),
        url('RFDewi/RFDewi-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: local('RF Dewi Expanded Ultrabold Italic'), local('RFDewiExpanded-UltraboldItalic'),
        url('RFDewi/RFDewiExpanded-UltraboldItalic.woff2') format('woff2'),
        url('RFDewi/RFDewiExpanded-UltraboldItalic.woff') format('woff'),
        url('RFDewi/RFDewiExpanded-UltraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: local('RF Dewi Expanded Thin'), local('RFDewiExpanded-Thin'),
        url('RFDewi/RFDewiExpanded-Thin.woff2') format('woff2'),
        url('RFDewi/RFDewiExpanded-Thin.woff') format('woff'),
        url('RFDewi/RFDewiExpanded-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: local('RF Dewi Expanded Semibold'), local('RFDewiExpanded-Semibold'),
        url('RFDewi/RFDewiExpanded-Semibold.woff2') format('woff2'),
        url('RFDewi/RFDewiExpanded-Semibold.woff') format('woff'),
        url('RFDewi/RFDewiExpanded-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Condensed';
    src: local('RF Dewi Condensed Ultralight Italic'), local('RFDewiCondensed-UltralightItalic'),
        url('RFDewi/RFDewiCondensed-UltralightItalic.woff2') format('woff2'),
        url('RFDewi/RFDewiCondensed-UltralightItalic.woff') format('woff'),
        url('RFDewi/RFDewiCondensed-UltralightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: local('RF Dewi Expanded Light Italic'), local('RFDewiExpanded-LightItalic'),
        url('RFDewi/RFDewiExpanded-LightItalic.woff2') format('woff2'),
        url('RFDewi/RFDewiExpanded-LightItalic.woff') format('woff'),
        url('RFDewi/RFDewiExpanded-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Condensed';
    src: local('RF Dewi Condensed Bold'), local('RFDewiCondensed-Bold'),
        url('RFDewi/RFDewiCondensed-Bold.woff2') format('woff2'),
        url('RFDewi/RFDewiCondensed-Bold.woff') format('woff'),
        url('RFDewi/RFDewiCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: local('RF Dewi Expanded Thin Italic'), local('RFDewiExpanded-ThinItalic'),
        url('RFDewi/RFDewiExpanded-ThinItalic.woff2') format('woff2'),
        url('RFDewi/RFDewiExpanded-ThinItalic.woff') format('woff'),
        url('RFDewi/RFDewiExpanded-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi';
    src: local('RF Dewi Thin Italic'), local('RFDewi-ThinItalic'),
        url('RFDewi/RFDewi-ThinItalic.woff2') format('woff2'),
        url('RFDewi/RFDewi-ThinItalic.woff') format('woff'),
        url('RFDewi/RFDewi-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Condensed';
    src: local('RF Dewi Condensed Italic'), local('RFDewiCondensed-Italic'),
        url('RFDewi/RFDewiCondensed-Italic.woff2') format('woff2'),
        url('RFDewi/RFDewiCondensed-Italic.woff') format('woff'),
        url('RFDewi/RFDewiCondensed-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi';
    src: local('RF Dewi Ultrabold Italic'), local('RFDewi-UltraboldItalic'),
        url('RFDewi/RFDewi-UltraboldItalic.woff2') format('woff2'),
        url('RFDewi/RFDewi-UltraboldItalic.woff') format('woff'),
        url('RFDewi/RFDewi-UltraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: local('RF Dewi Expanded Light'), local('RFDewiExpanded-Light'),
        url('RFDewi/RFDewiExpanded-Light.woff2') format('woff2'),
        url('RFDewi/RFDewiExpanded-Light.woff') format('woff'),
        url('RFDewi/RFDewiExpanded-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: local('RF Dewi Expanded Italic'), local('RFDewiExpanded-Italic'),
        url('RFDewi/RFDewiExpanded-Italic.woff2') format('woff2'),
        url('RFDewi/RFDewiExpanded-Italic.woff') format('woff'),
        url('RFDewi/RFDewiExpanded-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi';
    src: local('RF Dewi Light'), local('RFDewi-Light'),
        url('RFDewi/RFDewi-Light.woff2') format('woff2'),
        url('RFDewi/RFDewi-Light.woff') format('woff'),
        url('RFDewi/RFDewi-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: local('RF Dewi Expanded Semibold Italic'), local('RFDewiExpanded-SemiboldItalic'),
        url('RFDewi/RFDewiExpanded-SemiboldItalic.woff2') format('woff2'),
        url('RFDewi/RFDewiExpanded-SemiboldItalic.woff') format('woff'),
        url('RFDewi/RFDewiExpanded-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: local('RF Dewi Extended Bold Italic'), local('RFDewiExtended-BoldItalic'),
        url('RFDewi/RFDewiExtended-BoldItalic.woff2') format('woff2'),
        url('RFDewi/RFDewiExtended-BoldItalic.woff') format('woff'),
        url('RFDewi/RFDewiExtended-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi';
    src: local('RF Dewi Thin'), local('RFDewi-Thin'),
        url('RFDewi/RFDewi-Thin.woff2') format('woff2'),
        url('RFDewi/RFDewi-Thin.woff') format('woff'),
        url('RFDewi/RFDewi-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: local('RF Dewi Extended Black Italic'), local('RFDewiExtended-BlackItalic'),
        url('RFDewi/RFDewiExtended-BlackItalic.woff2') format('woff2'),
        url('RFDewi/RFDewiExtended-BlackItalic.woff') format('woff'),
        url('RFDewi/RFDewiExtended-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: local('RF Dewi Expanded Ultralight'), local('RFDewiExpanded-Ultralight'),
        url('RFDewi/RFDewiExpanded-Ultralight.woff2') format('woff2'),
        url('RFDewi/RFDewiExpanded-Ultralight.woff') format('woff'),
        url('RFDewi/RFDewiExpanded-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Condensed';
    src: local('RF Dewi Condensed Light'), local('RFDewiCondensed-Light'),
        url('RFDewi/RFDewiCondensed-Light.woff2') format('woff2'),
        url('RFDewi/RFDewiCondensed-Light.woff') format('woff'),
        url('RFDewi/RFDewiCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: local('RF Dewi Extended Ultralight'), local('RFDewiExtended-Ultralight'),
        url('RFDewi/RFDewiExtended-Ultralight.woff2') format('woff2'),
        url('RFDewi/RFDewiExtended-Ultralight.woff') format('woff'),
        url('RFDewi/RFDewiExtended-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: local('RF Dewi Extended Thin Italic'), local('RFDewiExtended-ThinItalic'),
        url('RFDewi/RFDewiExtended-ThinItalic.woff2') format('woff2'),
        url('RFDewi/RFDewiExtended-ThinItalic.woff') format('woff'),
        url('RFDewi/RFDewiExtended-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: local('RF Dewi Expanded Bold'), local('RFDewiExpanded-Bold'),
        url('RFDewi/RFDewiExpanded-Bold.woff2') format('woff2'),
        url('RFDewi/RFDewiExpanded-Bold.woff') format('woff'),
        url('RFDewi/RFDewiExpanded-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi';
    src: local('RF Dewi Italic'), local('RFDewi-Italic'),
        url('RFDewi/RFDewi-Italic.woff2') format('woff2'),
        url('RFDewi/RFDewi-Italic.woff') format('woff'),
        url('RFDewi/RFDewi-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Condensed';
    src: local('RF Dewi Condensed Semibold Italic'), local('RFDewiCondensed-SemiboldItalic'),
        url('RFDewi/RFDewiCondensed-SemiboldItalic.woff2') format('woff2'),
        url('RFDewi/RFDewiCondensed-SemiboldItalic.woff') format('woff'),
        url('RFDewi/RFDewiCondensed-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Condensed';
    src: local('RF Dewi Condensed Light Italic'), local('RFDewiCondensed-LightItalic'),
        url('RFDewi/RFDewiCondensed-LightItalic.woff2') format('woff2'),
        url('RFDewi/RFDewiCondensed-LightItalic.woff') format('woff'),
        url('RFDewi/RFDewiCondensed-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Condensed';
    src: local('RF Dewi Condensed Bold Italic'), local('RFDewiCondensed-BoldItalic'),
        url('RFDewi/RFDewiCondensed-BoldItalic.woff2') format('woff2'),
        url('RFDewi/RFDewiCondensed-BoldItalic.woff') format('woff'),
        url('RFDewi/RFDewiCondensed-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi';
    src: local('RF Dewi Black Italic'), local('RFDewi-BlackItalic'),
        url('RFDewi/RFDewi-BlackItalic.woff2') format('woff2'),
        url('RFDewi/RFDewi-BlackItalic.woff') format('woff'),
        url('RFDewi/RFDewi-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi';
    src: local('RF Dewi Semibold Italic'), local('RFDewi-SemiboldItalic'),
        url('RFDewi/RFDewi-SemiboldItalic.woff2') format('woff2'),
        url('RFDewi/RFDewi-SemiboldItalic.woff') format('woff'),
        url('RFDewi/RFDewi-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

